@charset "UTF-8";
body {
  width: 100%;
  font-family: "League Spartan", sans-serif;
  letter-spacing: 0.3em;
  margin-inline: auto;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

/*-----------------------
HEADER
-----------------------*/
#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
#header .wrapper {
  padding-block: 16px;
  width: 90%;
  display: flex;
  margin-inline: auto;
}
#header .logo {
  width: 80px;
  margin-inline: auto;
  position: absolute;
  top: 16px;
  right: 0;
  left: 0;
}
#header .top-link {
  display: flex;
  position: absolute;
  top: 30px;
  right: 5%;
}
#header .top-link .instagram {
  width: 30px;
  margin-right: 25px;
}
#header .top-link .cart {
  width: 28px;
}
#header #nav {
  position: absolute;
  left: 50%;
  top: -500px;
  z-index: 20;
  transition: all 0.5s;
  transform: translateX(-50%);
  color: #fff;
  display: none;
}
@media screen and (max-width: 968px) {
  #header #nav {
    display: block;
  }
}
#header .toggle-btn {
  width: 30px;
  height: 30px;
  margin-top: 2%;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
  display: none;
}
@media screen and (max-width: 968px) {
  #header .toggle-btn {
    display: block;
  }
}
#header .toggle-btn span {
  width: 100%;
  height: 2px;
  background-color: #EAB000;
  transition: all 0.5s;
  position: absolute;
  z-index: 20;
}
#header .toggle-btn span:nth-child(1) {
  top: 33%;
}
#header .toggle-btn span:nth-child(2) {
  top: 66%;
}
#header #mask {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EAB000;
  cursor: pointer;
  transition: all 1s;
}

/*-----------------------
HUMBERGER OPEN　開いた時のスタイル
-----------------------*/
#header.open .toggle-btn span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
  background-color: #fff;
}
#header.open .toggle-btn span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
  background-color: #fff;
}
#header.open #nav {
  top: 40px;
  z-index: 20;
}
#header.open #mask {
  visibility: visible;
  opacity: 1;
}

/*-----------------------
MAIN
-----------------------*/
#top {
  padding-top: 104px;
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: -1;
  position: relative;
  /*=== 9-1-4 矢印が動いてスクロールを促す  ====*/
  /*スクロールダウン全体の場所*/
  /*下からの距離が変化して全体が下→上→下に動く*/
  /*Scrollテキストの描写*/
  /* 矢印の描写 */
}
#top::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../img/main-pc.jpg) no-repeat center;
  background-size: cover;
}
@media screen and (max-width: 968px) {
  #top::before {
    background: url(../img/main-sp.jpg) no-repeat center;
  }
}
#top .scrolldown4 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 10%;
  right: 50%;
  /*矢印の動き1秒かけて永遠にループ*/
  -webkit-animation: arrowmove 1.5s ease-in-out infinite;
          animation: arrowmove 1.5s ease-in-out infinite;
}
@-webkit-keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
#top .scrolldown4 span {
  /*描画位置*/
  position: absolute;
  left: -20px;
  bottom: 20px;
  /*テキストの形状*/
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  writing-mode: vertical-rl;
}
#top .scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 20px;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #eee;
  transform: skewX(-31deg);
}
#top .scrolldown4:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 20px;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: #eee;
}

#main {
  margin-inline: auto;
  display: flex;
  background-color: #fff;
}

.menu {
  width: 300px;
  background-color: #EAB000;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 968px) {
  .menu {
    display: none;
  }
}
.menu .inner {
  width: 80%;
  padding-top: 85px;
  margin-inline: auto;
}

/*-----------------------
アコーディオンメニュー
-----------------------*/
.accordion-area {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 968px) {
  .accordion-area {
    width: 280px;
  }
}
.accordion-area li {
  margin: 10% 0;
}
@media screen and (max-width: 968px) {
  .accordion-area li {
    margin: 10% 0;
  }
}

.title {
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  font-size: 32px;
  transition: all 0.5s ease;
}

/*アイコンの＋と×*/
.accordion::before,
.accordion::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #fff;
}

.accordion::before {
  top: 48%;
  right: 0;
  transform: rotate(0deg);
}

.accordion::after {
  top: 48%;
  right: 0;
  transform: rotate(90deg);
}

/*　closeというクラスがついたら形状変化　*/
.accordion.close::before {
  transform: rotate(45deg);
}

.accordion.close::after {
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;
  /*はじめは非表示*/
  margin: 0 3% 3% 3%;
  padding-bottom: 5%;
}
.box li {
  margin-bottom: 10%;
}
@media screen and (max-width: 968px) {
  .box li {
    margin-bottom: 5%;
  }
}

.menu-bottom {
  position: absolute;
  bottom: 5%;
}
@media screen and (max-width: 968px) {
  .menu-bottom {
    position: static;
    margin-top: 20%;
  }
}
.menu-bottom li {
  font-size: 24px;
  margin-block: 8px;
}
@media screen and (max-width: 968px) {
  .menu-bottom li {
    margin-block: 8%;
  }
}

.section-title {
  font-size: 128px;
  font-weight: 500;
  color: rgba(234, 176, 0, 0.25);
  margin-top: 3%;
}

.right {
  width: 100%;
}
.right .section-title {
  margin-left: 40px;
}
@media screen and (max-width: 968px) {
  .right .section-title {
    font-size: 100px;
  }
}
.right .items {
  padding-inline: 40px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media screen and (max-width: 968px) {
  .right .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.right .items .item .item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.2em;
  margin-top: 8px;
}
@media screen and (max-width: 968px) {
  .right .items .item .item-text {
    display: inline-block;
  }
}
.right .items .item .item-text .item-title {
  font-size: 20px;
  font-weight: 500;
}
.right .items .item .item-text .price {
  font-size: 14px;
}
@media screen and (max-width: 968px) {
  .right .items .item .item-text .price {
    margin-top: 8px;
  }
}
.right .pagenav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  gap: 40px;
}
.right .pagenav li img {
  width: 25px;
}
.right .pagenav .next {
  transform: rotate(180deg);
}

.color {
  display: flex;
  margin-top: 12px;
}
.color li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 3%;
}
@media screen and (max-width: 968px) {
  .color li {
    width: 10px;
    height: 10px;
  }
}

.camel {
  background-color: #F4993A;
}

.brown {
  background-color: #935C04;
}

.green {
  background-color: #0D8602;
}

.black {
  background-color: #000;
}

.blue {
  background-color: #0660C7;
}

.purple {
  background-color: #8104AB;
}

.white {
  background-color: #fff;
  border: #000 1px solid;
}

.yellow {
  background-color: #EAB000;
}

.gray {
  background-color: #7D766C;
}

footer {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 120px;
  padding-bottom: 16px;
}
@media screen and (max-width: 968px) {
  footer {
    font-size: 10px;
    letter-spacing: 0.1em;
  }
}

/*-----------------------
ABOUT PAGE
-----------------------*/
#about {
  display: flex;
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 968px) {
  #about {
    display: inline-block;
  }
}
#about .about-img {
  width: 50%;
  height: 100vh;
}
#about .about-img::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background: url(../img/about.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
}
@media screen and (max-width: 968px) {
  #about .about-img::before {
    width: 100%;
    height: 100vh;
  }
}
#about .container {
  position: block;
  width: 50%;
  margin-left: 30px;
  position: relative;
  padding-top: 8%;
}
@media screen and (max-width: 968px) {
  #about .container {
    margin-top: 100vh;
    width: 100%;
    height: calc(100vh - 80px);
    padding-top: 8%;
    margin: 0 auto;
    background-color: #fff;
    z-index: 5;
  }
}
@media screen and (max-width: 968px) {
  #about .container .section-title {
    text-align: center;
  }
}
#about .container .about-text {
  width: 90%;
  margin-top: 40px;
}
@media screen and (max-width: 968px) {
  #about .container .about-text {
    width: 80%;
    margin-inline: auto;
  }
}
#about .container .about-text p {
  margin-block: 16px;
  font-size: 14px;
}
#about .container .back-btn {
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 60px;
}
@media screen and (max-width: 968px) {
  #about .container .back-btn {
    position: static;
    margin-top: 40px;
  }
}
#about .container .back-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .container .back-btn a img {
  width: 24px;
}
#about .container .back-btn a p {
  margin-top: 3px;
  margin-left: 4px;
  font-weight: 500;
  opacity: 0.8;
}
#about footer {
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
}

/*-----------------------
ACCESS PAGE
-----------------------*/
#access {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  background-color: #EAB000;
  color: #fff;
}
#access .section-title {
  color: rgba(255, 255, 255, 0.5);
}
#access .wrapper {
  width: 500px;
  margin-top: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 968px) {
  #access .wrapper {
    width: 85%;
  }
}
#access .wrapper img {
  border-radius: 8px;
}
@media screen and (max-width: 968px) {
  #access .wrapper img {
    border-radius: 13px;
  }
}
#access .wrapper .access-text {
  width: 100%;
  text-align: left;
  color: #fff;
  margin-top: 24px;
}
@media screen and (max-width: 968px) {
  #access .wrapper .access-text {
    margin-inline: auto;
    margin-top: 40px;
  }
}
#access .wrapper .access-text h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin-bottom: 16px;
}
#access .wrapper .access-text .flex-item {
  align-items: center;
  margin-top: 16px;
}
#access .wrapper .access-text .flex-item img {
  width: 20px;
  height: 20px;
}
#access .wrapper .access-text .flex-item p {
  margin-left: 8px;
  letter-spacing: 0.18em;
}

.flex-item {
  display: flex;
}

/*-----------------------
CONTACT
-----------------------*/
#contact {
  padding-top: 80px;
}
#contact .section-title {
  text-align: center;
}
#contact .contact-container {
  margin-inline: auto;
  width: 500px;
}
#contact .contact-container form {
  margin-top: 40px;
  letter-spacing: 0.2em;
}
#contact .contact-container form dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#contact .contact-container form dl label {
  cursor: pointer;
}
#contact .contact-container form dl dt {
  width: 20%;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
}
#contact .contact-container form dl dd {
  width: 80%;
  margin-bottom: 16px;
}
#contact .contact-container form dl dd input,
#contact .contact-container form dl dd textarea {
  width: 100%;
  border-radius: 5px;
  box-shadow: inset 0px 0px 4px 2px rgba(17, 17, 26, 0.08);
  padding: 12px 12px;
}
#contact .contact-container form dl dd textarea {
  height: 180px;
}
#contact .contact-container form .send {
  width: 100%;
  text-align: right;
}

/*-----------------------
products page 共通パーツ
-----------------------*/
#products-page {
  height: 100%;
}
#products-page .menu {
  position: fixed;
  height: 100vh;
}
#products-page .inner {
  padding-top: 80px;
}
#products-page .right {
  padding-top: 80px;
  margin-left: 300px;
}
@media screen and (max-width: 968px) {
  #products-page .right {
    margin-left: 0;
  }
}
#products-page .right .items {
  margin-top: 24px;
}

/*-----------------------
item 詳細ページ
-----------------------*/
#item-page {
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
}
#item-page .section-title {
  font-size: 100px;
  margin-left: 0;
}
#item-page .item-container {
  margin-top: 5%;
  gap: 16px;
}
@media screen and (max-width: 968px) {
  #item-page .item-container {
    flex-direction: column-reverse;
  }
}
#item-page .item-left {
  width: 50%;
}
@media screen and (max-width: 968px) {
  #item-page .item-left {
    margin-top: 24px;
    width: 100%;
  }
}
#item-page .item-left dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
#item-page .item-left dl dt {
  width: 30%;
  margin-bottom: 12px;
}
#item-page .item-left dl dd {
  width: 70%;
  margin-bottom: 12px;
}
#item-page .item-left dl dd .color {
  margin-top: 0;
}
@media screen and (max-width: 968px) {
  #item-page .item-left dl dd .color li {
    width: 15px;
    height: 15px;
  }
}
#item-page .item-left form {
  margin-top: 40px;
}
#item-page .item-left form select {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  background-color: #F5F5F5;
  font-size: 20px;
  padding-left: 16px;
  padding-block: 20px;
  margin-bottom: 16px;
}
@media screen and (max-width: 968px) {
  #item-page .item-left form select {
    max-width: 100%;
  }
}
@media screen and (max-width: 968px) {
  #item-page .item-left form input {
    max-width: 100%;
  }
}
#item-page .item-left .accordion-area {
  margin-top: 50px;
}
@media screen and (max-width: 968px) {
  #item-page .item-left .accordion-area {
    margin-left: 0;
  }
}
#item-page .item-left .accordion-area li {
  margin-block: 7%;
}
#item-page .item-left .accordion-area li .title {
  width: 200px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 968px) {
  #item-page .item-left .accordion-area li .title {
    width: 100%;
  }
}
#item-page .item-left .accordion-area li .line {
  position: relative;
}
#item-page .item-left .accordion-area li .line::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: -4px;
  left: 0;
  /*線の形状*/
  width: 100%;
  height: 2px;
  background: #EAB000;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: center top;
  /*上部中央基点*/
}
#item-page .item-left .accordion-area li .line:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}
#item-page .item-left .accordion-area li .box {
  margin-top: 3%;
}
#item-page .item-left .accordion-area li .box p {
  font-size: 14px;
  letter-spacing: normal;
  margin-bottom: 1%;
}
#item-page .item-left .accordion-area li .box ol {
  display: inline-block;
  padding: 2%;
  font-size: 14px;
  margin-block: 12px;
  background-color: rgba(234, 176, 0, 0.3);
  box-shadow: rgba(147, 92, 6, 0.2) 2px 2px 8px 0px;
}
#item-page .item-left .accordion-area li .box ol li {
  margin: 8px 0;
  list-style: decimal;
  list-style-position: inside;
  letter-spacing: normal;
}
#item-page .item-left .accordion::before,
#item-page .item-left .accordion::after {
  background-color: #000;
  width: 12px;
}
#item-page .item-right {
  width: 50%;
}
@media screen and (max-width: 968px) {
  #item-page .item-right {
    width: 100%;
  }
}
#item-page .item-right .item-right-sub {
  display: flex;
}
#item-page .item-right .item-right-sub li {
  width: 100px;
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
}
#item-page .item-right .item-right-sub li img:hover {
  transition: all 0.5s;
  transform: scale(1.2, 1.2);
}

#button {
  width: 100%;
  max-width: 400px;
  text-align: center;
  background-color: #EAB000;
  color: #fff;
  font-size: 24px;
  padding-block: 20px;
  border-radius: 50px;
  font-weight: 500;
  box-shadow: rgba(147, 92, 6, 0.6) 0 4px 4px 0;
}
/*# sourceMappingURL=style.css.map */